

<mat-toolbar color="primary">

  <span routerLink="/">
    <mat-icon>face</mat-icon> PostApp
  </span>
  <span class="example-spacer"></span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>


    <button mat-button routerLink="/" >
      <mat-icon>book</mat-icon>
      View Posts</button>

    <button mat-button routerLink="create" routerLinkActive="mat-accent">
      <mat-icon>person_add</mat-icon>
      Create New Post</button>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">

    <button mat-button routerLink="/" >
      <mat-icon>book</mat-icon>
      View Posts</button>
   <br>
    <button mat-button routerLink="create" routerLinkActive="mat-accent">
      <mat-icon>person_add</mat-icon>
      Create New Post</button>

</mat-menu>
