<br />
<h3>{{btntxt}}</h3>
<hr />
<mat-spinner *ngIf= "this.isLoading"></mat-spinner>
<mat-card>
  <form (submit)= "createPost(postForm)" #postForm="ngForm" *ngIf="!this.isLoading">
    <mat-form-field lass="example-full-width">
      <mat-label>Post Title</mat-label>
      <input
      matInput
      type="text"
      name="title"
      [ngModel]="loadedPost?.title"
      required
      minlength="5"
      #title="ngModel"/>
      <mat-error *ngIf="title.invalid">Enter a valid post title</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Post content</mat-label>
      <textarea
        matInput
        rows="6"
        name="content"
        [ngModel]="loadedPost?.content"
        #content="ngModel">
      </textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{btntxt}}
    </button>
  </form>
</mat-card>
<!--<p>{{newPost}}</p>-->
