<br />
<h3>Create a Post</h3>
<hr />
<mat-card>
  <form (submit)= "createPost(postForm)" #postForm="ngForm">
    <mat-form-field lass="example-full-width">
      <mat-label>Post Title</mat-label>
      <input
      matInput
      type="text"
      name="title"
      ngModel
      required
      minlength="5"
      #title="ngModel"/>
      <mat-error *ngIf="title.invalid">Enter a valid post title</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Post content</mat-label>
      <textarea
        matInput
        rows="6"
        name="content"
        ngModel
        #content="ngModel">
      </textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Create Post
    </button>
  </form>
</mat-card>
<!--<p>{{newPost}}</p>-->
